@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #FDBF3A;
    scroll-behavior: smooth;
}

p {
    margin-bottom: 0;
}



nav {
    background-color: #A83B1A;
}



.home {
    background: #FFEFCE;
    height: 100vh;
    width: 100%;
    margin-top: 80px;
}

.home .home-title{
    margin-top: 100px;
}

.home-title h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #A83B1A;
}

.home-title p {
    width: 300px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #A83B1A;
}

.home .home-banner {
    margin-top: 100px;
}

.home-button {
    width: 230px;
    background-color: #A83B1A;
    padding: 15px 10px;
    border-radius: 10px;
}

.home-button a {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}



.extra {
    background: #A83B1A;
    height: 5vh;
    width: 100%;
    margin-top: 10px;
}



.about {
    background: #FFEFCE;
    height: 100vh;
    width: 100%;
}

.about-content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title h1 {
    font-size: 5rem;
    font-weight: 800;
    color: #A83B1A;
}

.about-icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}



.product {
    background: #FFEFCE;
    height: auto;
    width: 100%;
    padding: 100px 0;
}

.product-image {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.product-image img {
    margin: 10px 10px 0 10px;
    border-radius: 5%;
}



.mitra {
    background: #FFEFCE;
    height: 80vh;
    width: 100%;
}

.mitra .mitra-title {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mitra h1 {
    font-size: 5rem;
    font-weight: 800;
    color: #A83B1A;
}



.join {
    background: #FFEFCE;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    /* border: 1px solid #A83B1A; */
}

.join h1 {
    font-size: 4.5rem;
    font-weight: 800;
    color: #A83B1A;
}

.join p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #CA6949;
}

.join label {
    font-size: 1.5rem;
    font-weight: bold;
}

.join button {
    width: 200px;
    background-color: #A83B1A;
    padding: 10px 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.2rem;
}



.gallery {
    background: #FFEFCE;
    height: 120vh;
    width: 100%;
    padding-top: 100px;
    /* border: 1px solid #A83B1A; */
}

.gallery h1 {
    font-size: 4.5rem;
    font-weight: 800;
    color: #A83B1A;
}

.gallery p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #CA6949;
}



.profit {
    background: #FFEFCE;
    height: 110vh;
    width: 100%;
    padding-top: 100px;
    /* border: 1px solid #A83B1A; */
}

.profit h1 {
    font-size: 4.5rem;
    font-weight: 800;
    color: #A83B1A;
    letter-spacing: -3px;
}

.profit p {
    font-size: 4.5rem;
    font-weight: 500;
    color: #A83B1A;
}

.contact {
    background: #A83B1A;
    height: 60vh;
    width: 100%;
    padding-top: 100px;
    /* border: 1px solid #A83B1A; */
}

.contact h1 {
    font-size: 4.5rem;
    font-weight: 800;
    color: #FDBF3A;
}

.contact-head {
    width: 600px;
    /* border: 1px solid #FDBF3A; */
}

.contact-instagram p, .contact-whatsapp p{
    font-size: 1rem;
    font-weight: normal;
    color: #ffffff;
}

.contact-instagram h6, .contact-whatsapp h6 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

