@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #FDBF3A;
    scroll-behavior: smooth;
}

p {
    margin-bottom: 0;
}



nav {
    background-color: #A83B1A;
}

nav img {
    width: 100px;
    height: 40px;
}

@media screen and (max-width: 992px) {
    .navbar-toggler {
        color: white;
    }
    span {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
}


@media screen and (max-width: 768px) {
    .navbar-toggler {
        color: white;
    }
    span {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
}



.home {
    background: #FFEFCE;
    background-image: url('./image/PATTERN.png');
    height: 85vh;
    width: 100%;
    margin-top: 80px;
}

.home-title h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #A83B1A;
}

.home-title p {
    width: 280px;
    margin-top: 20px;
    font-weight: 600;
    color: #A83B1A;
}

.home-button {
    width: 230px;
    background-color: #A83B1A;
    padding: 15px 10px;
    border-radius: 10px;
}

.home-button a {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-width: 992px) {
    .home-title h1 {
        font-size: 2.5rem;
    }
    .home-title p {
        width: 200px;
        font-size: 20px !important;
    }
    .home-button {
        width: 200px;
        padding: 10px 0;
    }
    .home-button a {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 768px) {
    .home-title h1 {
        font-size: 2rem;
    }
    .home-title p {
        width: 200px;
        font-size: 20px !important;
    }
    .home-button {
        width: 150px;
        padding: 8px 0;
    }
    .home-button a {
        font-size: 0.8rem;
    }
    .home img {
        padding-top: 30px;
    }
}



.extra {
    background: #A83B1A;
    height: 5vh;
    width: 100%;
    margin-top: 25px;
}



.about {
    background: #FFEFCE;
    background-image: url('./image/PATTERN.png');
    height: auto;
    width: 100%;
    padding: 200px 0;
}

.about-content {
    height: 100%;
    width: 100%;
}

.about-title h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #A83B1A;
}

.about-icon .icon {
    width: 200px;
    height: 200px;
}

.icon p {
    font-weight: 800;
    color: #A83B1A;
}

.about-icon img {
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 992px) {
    .about {
        padding: 100px 0;
    }
    .about-icon {
        padding-top: 10px;
    }
    .about-icon .icon {
        width: 150px;
        height: 150px;
    }
    .icon p {
        font-size: 0.8rem !important;
    }
    .about-icon img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 768px) {
    .about-title h1 {
        font-size: 3rem;
    }
    .about-icon {
        padding-top: 0 !important;
    }
    .about-icon .icon {
        width: 150px;
        height: 150px;
    }
    .icon p {
        font-size: 0.7rem !important;
    }
    .about-icon img {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 576px) {
    .about {
        padding: 100px 0;
    }
    .about-title h1 {
        font-size: 2rem;
    }
    .about-icon {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        align-items: center !important;
        padding-top: 0 !important;
    }
    .about-icon .icon {
        width: 200px;
        height: 200px;
    }
    .icon p {
        font-size: 1rem !important;
    }
    .about-icon img {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 368px) {
    .about-title h1 {
        font-size: 1.5rem;
    }
}



.product {
    background: #FFEFCE;
    background-image: url('./image/PATTERN.png');   
    height: auto;
    width: 100%;
    padding: 70px 0;
}

.product-image {
    height: 100%;
    width: 100%;
}

.product-image img {
    width: 350px;
    height: 350px;
    padding: 20px 0 0 0;
    border-radius: 5%;
}

@media screen and (max-width: 1400px) {
    .product-image img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 1200px) {
    .product-image img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 992px) {
    .product {
        padding: 20px 0 50px 0;
    }
    .product-image img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 576px) {
    .product-image {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .product-image img {
        width: 300px;
        height: 300px;
    }
}



.mitra {
    background: #FFEFCE;
    background-image: url('./image/PATTERN.png');
    height: 80vh;
    width: 100%;
}

.mitra .mitra-title {
    height: 80vh;
    width: 100%;
}

.mitra h1 {
    font-size: 5rem;
    font-weight: 800;
    color: #A83B1A;
}

@media screen and (max-width: 768px) {
    .mitra h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 576px) {
    .mitra {
        height: 60vh;
    }
    .mitra h1 {
        font-size: 2rem;
    }
}



.join {
    background: #FFEFCE;
    background-image: url('./image/PATTERN.png');
    height: 100vh;
    width: 100%;
}

.join h1 {
    font-size: 4.5rem;
    font-weight: 800;
    color: #A83B1A;
}

.join p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #CA6949;
}

.join label {
    font-size: 1.5rem;
    font-weight: bold;
}

.join input, .join select {
    border: none;
}

.join button {
    width: 200px;
    background-color: #A83B1A;
    padding: 10px 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
    .join {
        height: 85vh;
    }
    .join h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 992px) {
    .join h1 {
        font-size: 3rem;
    }
    .join label {
        font-size: 1.2rem;
    }
    .join button {
        padding: 8px 0px;
    }
}

@media screen and (max-width: 768px) {
    .join h1 {
        font-size: 2rem;
    }
    .join p {
        font-size: 0.8rem;
    }
    .join label {
        font-size: 1rem;
    }
    .join button {
        width: 150px;
        padding: 7px 0px;
        font-size: 1rem;
    }
}



.gallery {
    background: #FFEFCE;
    background-image: url('./image/PATTERN.png');
    height: auto;
    width: 100%;
}

.gallery h1 {
    font-size: 4.5rem;
    font-weight: 800;
    color: #A83B1A;
}

.gallery p {
    font-size: 2rem;
    font-weight: 600;
    color: #CA6949;
}

.gallery img {
    width: 400px;
    height: 400px;
}

@media screen and (max-width: 992px) {
    .gallery h1 {
        font-size: 3rem;
    }
    .gallery #h1-two {
        font-size: 2.5rem;
    }
    .gallery p {
        font-size: 1.5rem;
    }
    .gallery img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 768px) {
    .gallery h1 {
        font-size: 2.5rem;
    }
    .gallery #h1-two {
        font-size: 2rem;
    }
    .gallery img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 576px) {
    .gallery {
        padding-top: 50px;
    }
    .gallery h1 {
        font-size: 1.8rem;
    }
    .gallery #h1-two {
        font-size: 1.8rem;
    }
    .gallery p {
        font-size: 1rem;
    }
    .gallery-image {
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        margin-top: 1rem !important;
    }
    .gallery img {
        width: 300px;
        height: 300px;
        padding: 20px 0 0 0;
    }
}

@media screen and (max-width: 576px) {
    .gallery h1 {
        font-size: 1.8rem;
    }
    .gallery #h1-two {
        font-size: 1.3rem;
    }
    .gallery p {
        font-size: 1rem;
    }
}



.ruko {
    background: #FFEFCE;
    background-image: url('./image/PATTERN.png');
    height: auto;
    width: 100%;
    padding-top: 100px;
}

.ruko h1 {
    font-size: 4.5rem;
    font-weight: 800;
    color: #A83B1A;
}

.ruko p {
    font-size: 2rem;
    font-weight: 600;
    color: #CA6949;
}

.ruko img {
    width: 530px;
    height: 400px;
}

@media screen and (max-width: 1200px) {
    .ruko img {
        width: 430px;
        height: 300px;
    }
}

@media screen and (max-width: 992px) {
    .ruko h1 {
        font-size: 3rem;
    }
    .ruko #h1-two {
        font-size: 2.5rem;
    }
    .ruko p {
        font-size: 1.5rem;
    }
    .ruko img {
        width: 320px;
        height: 220px;
    }
}

@media screen and (max-width: 768px) {
    .ruko h1 {
        font-size: 2.5rem;
    }
    .ruko #h1-two {
        font-size: 2rem;
    }
    .ruko img {
        width: 250px;
        height: 200px;
    }
}

@media screen and (max-width: 576px) {
    .ruko {
        padding-top: 50px;
    }
    .ruko h1 {
        font-size: 1.8rem;
    }
    .ruko #h1-two {
        font-size: 1.8rem;
    }
    .ruko p {
        font-size: 1rem;
    }
    .ruko-image {
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        margin-top: 1rem !important;
    }
    .ruko img {
        width: 400px;
        height: 300px;
        padding: 20px 0 0 0;
    }
}

@media screen and (max-width: 576px) {
    .ruko h1 {
        font-size: 1.8rem;
    }
    .ruko #h1-two {
        font-size: 1.3rem;
    }
    .ruko p {
        font-size: 1rem;
    }
}



.profit {
    background: #FFEFCE;
    background-image: url('./image/PATTERN.png');
    height: 100vh;
    width: 100%;
    padding-top: 80px;
}

.profit h1 {
    font-size: 4.5rem;
    font-weight: 800;
    color: #A83B1A;
    letter-spacing: -3px;
}

.profit p {
    font-size: 4.5rem;
    font-weight: 600;
    color: #A83B1A;
}

.profit img {
    width: 200px;
    height: 220px;
}

@media screen and (max-width: 992px) {
    .profit {
        padding-top: 50px;
        height: 60vh;
    }
    .profit h1 {
        font-size: 3rem;
    }
    .profit p {
        font-size: 3rem;
    }
    .profit img {
        width: 150px;
        height: 170px;
    }
}

@media screen and (max-width: 768px) {
    .profit h1 {
        font-size: 2.5rem;
    }
    .profit p {
        font-size: 2.5rem;
    }
    .profit img {
        width: 100px;
        height: 120px;
    }
}

@media screen and (max-width: 576px) {
    .profit {
        padding-top: 50px;
        height: 50vh;
    }
    .profit-title {
        padding-top: 20px;
    }
    .profit h1 {
        font-size: 1.8rem;
        letter-spacing: -1px;
    }
    .profit p {
        font-size: 1.8rem;
    }
    .profit img {
        width: 100px;
        height: 120px;
    } 
}

@media screen and (max-width: 366px) {
    .profit {
        padding-top: 50px;
        height: 60vh;
    }
}


.contact {
    background: #A83B1A;
    height: 50vh;
    width: 100%;
}

.contact h1 {
    font-size: 4.5rem;
    font-weight: 800;
    color: #FDBF3A;
}

.contact-head {
    width: 580px;
}

.contact-social {
    width: 100%;
}

.contact-instagram p, .contact-whatsapp p{
    font-size: 1rem;
    font-weight: normal;
    color: #ffffff;
}

.contact-instagram h6, .contact-whatsapp h6 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.contact a {
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .contact h1 {
        font-size: 4rem;
    }
    .contact-head {
        width: 100%;
    }
    .contact-social {
        width: 345px;
    }
    .contact-instagram p, .contact-whatsapp p{
        font-size: 0.8rem;
    }
    .contact-instagram h6, .contact-whatsapp h6 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .contact h1 {
        font-size: 2.5rem;
    }
    .contact-head {
        width: 100%;
    }
    .contact-social {
        width: 300px;
    }
    .contact p {
        font-size: 0.8rem;
    }
    .contact-instagram p, .contact-whatsapp p{
        font-size: 0.8rem;
    }
    .contact-instagram h6, .contact-whatsapp h6 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 325px) {
    .contact h1 {
        font-size: 2rem;
    }
    .contact-social {
        width: 245px;
    }
    .contact-instagram p, .contact-whatsapp p{
        font-size: 0.8rem;
    }
    .contact-instagram h6, .contact-whatsapp h6 {
        font-size: 0.7rem;
    }
}

